<!DOCTYPE html>
<html>
<head>
  <title>Experiment Page</title>
  <style>
    body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
    h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    p{font-size: 16px; text-align: center; word-wrap: break-word;}
    div.catalog {
      width: 100%;
      position: fixed;
      z-index: 1;
    }
    .catalog a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        display: inline;
        float: left;
        margin-left: 5%;
    }

    ul {
      list-style-type: none;
      margin: auto;
      padding: 0 10%;
      overflow: hidden;
      background-color: #333;
      width: 100%;
      position: fixed;
      left: -10px;
      top: -2px;
    }

    li a:hover {
        background-color: #111;
    }
  </style>
</head>
<body id="hey">
  <% include partials/nav.ejs %>
  <h1>here's your game data, <%=data.name%>! </h1>
  <p>You will love this</p>

  <p><strong>Name: </strong><%=data.name%></p>
  <p><strong>Number of Games Played: </strong><%=length%></p>
  <p><strong>Group: </strong><%=data.group%></p>
  <% if (person.indexOf('2') !== -1) { %>
    <p><strong>Displaying Game 2 of <%=data.name%>: </strong></p>
  <% } else { %>
    <p><strong>Displaying 1st Game of <%=data.name%>: </strong></p>
  <% } %>

  <!-- <script type="text/javascript">
    var allData = <%-JSON.stringify(data.game)%>;
    console.log(allData[0]);
    for (var i=0;i<allData.length;i++) {
      var text = JSON.stringify(allData[i]);

      var para = document.createElement("p");
      var node = document.createTextNode(text);
      para.appendChild(node);

      var element = document.getElementById("hey");
      element.appendChild(para);
    }
  </script> -->
  <% data.game.forEach(function(item){ %>
    <p><%- JSON.stringify(item) %></p>
  <% }); %>

</body>
</html>
